<!DOCTYPE html>

<html>
    <head>
        <title>COT TPD Incidents - Demo</title>
        <script
			  src="https://code.jquery.com/jquery-3.4.1.js"
			  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
              crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>

        <style>
            body {
                font-family: 'Roboto', sans-serif;
                padding-top: 25px;
            }

            #map {
                width: 100%;
                height: 500px;
            }
        </style>

    </head>

    <body>
        <div class='container'>
            <div class='row'>
                <div id='map'></div>
            </div>
        </div>

        <script>
            
            var locus = [32.2378036, -110.9603171];
            var map = L.map('map').setView(locus, 13);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);
            
            // L.marker(locus).addTo(map)
            //     .bindPopup('COT TPD Incident Demo');
            //     //.openPopup();

            $(document).ready(function() {
                var url = "http://localhost:5000/graphql?query={incidents(first: 1000){edges{node{id%2Cdescription%2Clatitude%2Clongitude}}}}"
                $.getJSON(url, function(data) {
                    $.each(data.data.incidents.edges, function(k, v) {                                                
                        var loc = [v.node.latitude, v.node.longitude];
                        console.dir(loc);
                        L.marker(loc).addTo(map)
                             .bindPopup(v.node.description);
                    });
                });
            });
        </script>

    </body>
</html>